@import './base.css';

#app {
  margin: 0;
  padding: 0rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

li {
  list-style-type: none;
}

.container {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #777777;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #nav-host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
